@using TraCuuBMT.Models
@{
    ViewBag.Title = "Trang chủ";
    List<BieuThue> listBieuThue = ViewBag.ListBieuThue;
    List<SubBieuThue> listSubBieuThue = ViewBag.ListSubBieuThue;
    List<KetQuaPhanTichPhanLoai> listKQPTPL = ViewBag.ListKQPTPL;
    List<ThueVAT> listThueVAT = ViewBag.ListThueVAT;
    User user = (User)Session["userInfo"];
    List<Transaction> ListTransaction = (List<Transaction>)ViewBag.ListTransaction;
}
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tra cứu theo</h4>
            </div>
            <div class="modal-body">
                <div class="checkbox">
                    <label><input type="checkbox" name="hsCodeCheckBox" checked id="hsCodeCheckBox" value="">HS Code</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="motaCheckBox" checked id="motaCheckBox" value="">Mô tả hàng hóa</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="confirmSendEmail" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xác nhận gửi kết quả phân tích phân loại</h4>
            </div>
            <div class="modal-body">
                <input type="text" name="itemId" id="itemId" readonly style="display:none;" value="" />
                <div>
                    Bạn đang thực hiện gửi văn bản thông báo kết quả phân tích phân loại của mã HS từ hệ thống về email: <b>@user.email</b>
                </div>

                <div class="rowProfile">
                    <div><i class="fa fa-download"></i></div>
                    <div>Tài nguyên còn hạn sử dụng: <span style="color:red">@ListTransaction.Sum(w => w.amount)</span> <span style="cursor: pointer; color:blue" data-toggle="modal" data-target="#registerMoreModal" data-dismiss="modal">Đăng ký thêm</span></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="sendEmail" class="btn btn-primary" data-dismiss="modal">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<div class="searchArea">
    <input id="email" readonly style="display:none" value="@user.email" />
    <input id="type" readonly style="display:none" value="@ViewBag.type" />
    <div class="dropdown ">
        <button class="btn btn-primary dropdown-toggle myDropDown" type="button" data-toggle="dropdown">
            <span id="selectSpan">Chọn đối tượng tra cứu</span>
            <span class="caret myCaret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" data-content="">Chọn đối tượng tra cứu</a></li>
            <li><a href="#" data-content="bieuThueArea">Biểu thuế - thuế suất</a></li>
            <li><a href="#" data-content="kqPhanTichPhanLoaiArea">Kết quả phân tích, phân loại</a></li>
            <li><a href="#" data-content="thamKhaoTriGiaGiaKhaiBaoArea">Tham khảo trị giá, giá khai báo</a></li>
            <li><a href="#" data-content="cangCuaKhauArea">Cảng cửa khẩu</a></li>
            <li><a href="#" data-content="ddLkChoThongQuanArea">ĐĐ LK chờ thông quan</a></li>
            <li><a href="#" data-content="maLoaiHinhArea">Mã loại hình</a></li>
        </ul>
    </div>

    <div class="gearButton">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"></path>
                <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"></path>
            </svg>
        </button>

    </div>

    <div class="col-xs-4" style="margin-left:10px;">
        <input type="text" class="form-control col-xs-4" value="@ViewBag.Keyword" id="seachKeyword">
    </div>

    <div style="margin-left:10px;">
        <button type="button" id="search" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> Tìm
        </button>
    </div>
</div>

@*Biểu thuế*@
<div id="bieuThueArea">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Biểu thuế - Thuế suất</a></li>
        <li><a data-toggle="tab" href="#thueVAT">Thuế VAT</a></li>
        <li><a data-toggle="tab" href="#thueBVMT">Thuế bảo vệ môi trường</a></li>
        <li><a data-toggle="tab" href="#thueTTDB">Thuế tiêu thụ đặc biệt</a></li>
        <li><a data-toggle="tab" href="#thueTVCBPG">Thuế TV - CBPG</a></li>
        <li><a data-toggle="tab" href="#thuePBDX">Thuế PBĐX</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Biểu thuế - thuế suất</h3>
            <table class="table table-bordered BieuThueTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">HS Code</th>
                        <th scope="col">ĐVT/SL2</th>
                        <th scope="col">Biểu thuế</th>
                        <th scope="col">Thuế suất(%)</th>
                        <th scope="col">Tên biểu thuế</th>
                        <th scope="col">Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int indexSubBieuThue = 1;
                        foreach (var item in listSubBieuThue)
                        {
                            <tr>
                                <th scope="row">@indexSubBieuThue</th>
                                <td>@item.HS_CODE</td>
                                <td>@item.DVT_SL2</td>
                                <td>@item.B_Title</td>
                                <td>@item.B_Value</td>
                                <td>@item.tenBieuThue</td>
                                <td>@item.note</td>
                            </tr>
                            indexSubBieuThue++;
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="thueVAT" class="tab-pane fade">
            <h3>Thuế VAT</h3>
            <table class="table table-bordered BieuThueTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên</th>
                        <th scope="col" style="width:70%;">Mô tả</th>
                        <th scope="col">Dữ liệu</th>
                        <th scope="col">Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int indexThueVAT = 1;
                        foreach (var item in listThueVAT)
                        {
                            <tr>
                                <th scope="row">@indexThueVAT</th>
                                <td>@item.name</td>
                                <td>@item.mota</td>
                                <td>@item.value</td>
                                <td>@item.note</td>
                            </tr>
                            indexThueVAT++;
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="thueBVMT" class="tab-pane fade">
            <h3>Thuế bảo vệ môi trường</h3>
            <table class="table table-bordered BieuThueTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">HS Code</th>
                        <th scope="col">Thuế bảo vệ môi trường</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int indexThueBVMT = 1;
                        foreach (var item in listBieuThue)
                        {
                            string isThue = item.THUE_BVMT > 0 ? "Có" : "Không";
                            <tr>
                                <th scope="row">@indexThueBVMT</th>
                                <td>@item.HS_CODE</td>
                                <td>@isThue</td>
                            </tr>
                            indexThueBVMT++;
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="thueTTDB" class="tab-pane fade">
            <h3>Thuế tiêu thụ đặc biệt</h3>
            <table class="table table-bordered BieuThueTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">HS Code</th>
                        <th scope="col">Thuế tiêu thụ đặc biệt</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int indexThueTTDB = 1;
                        foreach (var item in listBieuThue)
                        {
                            string isThue = item.THUE_TTDB > 0 ? "Có" : "Không";
                            <tr>
                                <th scope="row">@indexThueTTDB</th>
                                <td>@item.HS_CODE</td>
                                <td>@isThue</td>
                            </tr>
                            indexThueTTDB++;
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="thueTVCBPG" class="tab-pane fade">
            <h3>Thuế TV - CBPG</h3>
            <table class="table table-bordered BieuThueTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">HS Code</th>
                        <th scope="col">Thuế TV - CBPG</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int indexThueTVCBPG = 1;
                        foreach (var item in listBieuThue)
                        {
                            string isThue = item.THUE_TVCBPG > 0 ? "Có" : "Không";
                            <tr>
                                <th scope="row">@indexThueTVCBPG</th>
                                <td>@item.HS_CODE</td>
                                <td>@isThue</td>
                            </tr>
                            indexThueTVCBPG++;
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="thuePBDX" class="tab-pane fade">
            <h3>Thuế PBĐX</h3>
            <table class="table table-bordered BieuThueTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">HS Code</th>
                        <th scope="col">Thuế PBĐX</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int indexThuePBDX = 1;
                        foreach (var item in listBieuThue)
                        {
                            string isThue = item.THUE_PBDX > 0 ? "Có" : "Không";
                            <tr>
                                <th scope="row">@indexThuePBDX</th>
                                <td>@item.HS_CODE</td>
                                <td>@isThue</td>
                            </tr>
                            indexThuePBDX++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@*Kết quả phân tích phân loại*@
<div id="kqPhanTichPhanLoaiArea">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#ketQuaPhanTichPhanLoai">Kết quả phân tích phân loại</a></li>
    </ul>

    <div class="tab-content">
        <div id="ketQuaPhanTichPhanLoai" class="tab-pane fade in active">
            <h3>Kết quả phân tích phân loại</h3>
            <table class="table table-bordered BieuThueTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">HS Code</th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">ĐVT-BT</th>
                        <th scope="col">Thuế suất</th>
                        <th scope="col">Nội dung KQ-PTPL</th>
                        <th scope="col">File Văn bản</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int indexKQPTPL = 1;
                        foreach (var item in listKQPTPL)
                        {
                            <tr>
                                <th scope="row">@indexKQPTPL</th>
                                <td>@item.hsCode</td>
                                <td>@item.description</td>
                                <td>@item.unit</td>
                                <td>Chi tiết</td>
                                <td><a href="">Xem nội dung</a></td>
                                <td><div style="cursor:pointer" class="openConfirmSendEmail" data-id="@item.ID" data-toggle="modal" data-target="#confirmSendEmail">Gửi văn bản về email</div></td>
                            </tr>
                            indexKQPTPL++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*Tham khảo trị giá, giá khai báo*@
<div id="thamKhaoTriGiaGiaKhaiBaoArea"></div>

@*Cảng cửa khẩu*@
<div id="cangCuaKhauArea"></div>

@*ĐĐ LK chờ thông quan*@
<div id="ddLkChoThongQuanArea"></div>

@*Mã loại hình*@
<div id="maLoaiHinhArea"></div>

<script>
    var type = 1;
    $(function () {
        $(document).on("click", ".openConfirmSendEmail", function () {
            var itemId = $(this).data('id');
            $(".modal-body #itemId").val(itemId);
            // As pointed out in comments,
            // it is unnecessary to have to manually call the modal.
            // $('#addBookDialog').modal('show');
        });

        $(".dropdown-menu").on('click', 'li a', function () {
            $("#selectSpan").text($(this).text());
            $("#selectSpan").val($(this).text());

            showArea($(this).attr("data-content"));
        });

        $("#search").on('click', function () {
            var seachKeyword = $('#seachKeyword').val();
            var url = "/Home/Index?type=" + type;
            var isHsCode = $('input[name="hsCodeCheckBox"]:checked').length > 0;
            var isMota = $('input[name="motaCheckBox"]:checked').length > 0;

            if (isHsCode) {
                url += "&hsCode=" + seachKeyword;
            }
            if (isMota) {
                url += "&mota=" + seachKeyword;
            }

            location = url;
        });

        initFunction();


        $("#sendEmail").click(function () {
            var itemId = $("#itemId").val();
            var email = $("#email").val();
            $.ajax({
            url: '@Url.Action("SendEmail", "Home")',
            dataType: "json",
            type: "POST",
            cache: false,
            data: { itemId: itemId,} ,
            success: function (data) {
                if (data.result) {
                    alert("Gửi Email thành công! Vui lòng check email");
                }
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
            });

        });
    });

    function showArea(id) {
        $("#bieuThueArea").hide();
        $("#kqPhanTichPhanLoaiArea").hide();
        $("#thamKhaoTriGiaGiaKhaiBaoArea").hide();
        $("#cangCuaKhauArea").hide();
        $("#ddLkChoThongQuanArea").hide();
        $("#maLoaiHinhArea").hide();

        type = getTypeById(id);

        $("#" + id).show();
    }

    function initFunction() {
        var type = $("#type").val();
        if (!(type > 0)) type = "1";
        var id = "";

        id = getIdByType(type);
        var selectedTab = $("a[data-content='" + id +"']").text();

        $("#selectSpan").text(selectedTab);
        $("#selectSpan").val(selectedTab);

        showArea(id);
    }

    function getIdByType(type) {
        var id = 1;
        switch (type) {
            case "1":
                id = "bieuThueArea";
                break;
            case "2":
                id = "kqPhanTichPhanLoaiArea";
                break;
        }

        return id;
    }

    function getTypeById(id) {
        var type = "bieuThueArea";

        switch (id) {
            case "bieuThueArea":
                type = "1";
                break;

            case "kqPhanTichPhanLoaiArea":
                type = "2";
                break;
        }

        return type;
    }
</script>