@using TraCuuBMT.Models
@using TraCuuBMT.General
@{
    User user = (User)Session["userInfo"];
    List<Package> ListPackage = (List<Package>)ViewBag.ListPackage;
    List<Transaction> ListTransaction = (List<Transaction>)ViewBag.ListTransaction;
    var sumTransaction = 0;
    if (ListTransaction != null && ListTransaction.Count > 0)
    {
        sumTransaction = ListTransaction.Sum(w => w.amount);
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    @*<script src="~/Content/js/jquery-3.6.0.min.js"></script>*@


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/Content/js/fontawesomeJs.js"></script>
    <link href="~/Content/css/generalCss.css" rel="stylesheet" />

</head>
<body>
    <div class="modal fade" id="profileModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thông tin tài khoản</h4>
                </div>
                <div class="modal-body">
                    <div class="rowProfile">
                        <div><i class='fas fa-user-alt'></i></div>
                        <div>@user.email</div>
                    </div>
                    <div class="rowProfile">
                        <div><i class="fa fa-phone"></i></div>
                        <div>@user.phone</div>
                    </div>
                    <div class="rowProfile">
                        <div><i class="fas fa-lock"></i></div>
                        <div style="cursor: pointer;" data-toggle="modal" data-target="#changePassModal" data-dismiss="modal">Đổi mật khẩu</div>
                    </div>
                    <div class="rowProfile">
                        <div><i class="fa fa-download"></i></div>
                        <div>Tài nguyên còn hạn sử dụng: <span style="color:red">@sumTransaction</span> <span style="cursor: pointer; color:blue" data-toggle="modal" data-target="#registerMoreModal" data-dismiss="modal">Đăng ký thêm</span></div>
                    </div>
                    <div class="rowProfile">
                        <div><i class="fa fa-history"></i></div>
                        <div><span style="cursor: pointer; color:blue" data-toggle="modal" data-target="#ListPersonalTransactionModal" data-dismiss="modal">Lịch sử giao dịch</span></div>
                    </div>
                    <div class="rowProfile">
                        <div><i class="fas fa-sign-out-alt" style="color:red"></i></div>
                        <div><a href="@Url.Action("Logout","Account")" style="text-decoration:none">Đăng xuất</a></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal" id="ListPersonalTransactionModal" tabindex="-1" role="dialog">
        <div class="registerMore">
            <div class="tab-content" style="min-height:unset">
                <div id="ketQuaPhanTichPhanLoai" class="tab-pane fade in active">
                    <h3>Lịch sử giao dịch</h3>
                    @if (ListTransaction != null && ListTransaction.Count > 0)
                    {
                        <table class="table table-bordered BieuThueTable">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" style="width:50px">#</th>
                                    <th scope="col" style="width:100px">Lượt tải thêm</th>
                                    <th scope="col" style="width:150px">Ngày phát sinh</th>
                                    <th scope="col" style="width:150px">Giá (VND)</th>
                                    <th scope="col" style="width:150px">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int indexTransaction = 1;
                                    foreach (var item in ListTransaction)
                                    {
                                        <tr>
                                            <td scope="row">@indexTransaction</td>
                                            <td>@item.amount</td>
                                            <td>@item.createDate</td>
                                            <td>@item.currentPrice</td>
                                            <td>@Util.ListTransactionStatus.Where(w=>w.StatusValue == item.status).First().StatusName</td>
                                        </tr>
                                        indexTransaction++;
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div style="text-align:center">Hiện không có giao dịch nào được ghi nhận</div>
                    }

                </div>
            </div>

            <div class="twoButtonRegister">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>

    <div class="modal" id="changePassModal" tabindex="-1" role="dialog">
        <input hidden="hidden" id="userId" type="text" value="@user.ID" />
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Đổi mật khẩu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newPassword">Mật khẩu mới (*):</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required value="">
                    </div>

                    <div class="form-group">
                        <label for="confirmNewPassword">Xác nhận mật khẩu mới (*):</label>
                        <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="confirmChangePass" class="btn btn-primary">Xác nhận</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="registerMoreModal" tabindex="-1" role="dialog">
        <div class="registerMore" id="registerMore">

            <div class="tab-content" style="min-height:unset">
                <div id="ketQuaPhanTichPhanLoai" class="tab-pane fade in active">
                    <h3>Đăng ký tài nguyên</h3>
                    <table class="table table-bordered BieuThueTable">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" style="width:50px">Chọn</th>
                                <th scope="col" style="width:150px">Gói tài nguyên</th>
                                <th scope="col" style="width:150px">Thành tiền (VND)</th>
                                <th scope="col">Mô tả</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int indexPackage = 1;
                                foreach (var item in ListPackage)
                                {
                                    <tr>
                                        <th scope="row">@indexPackage</th>
                                        <td><input type="checkbox" class="checkbox_package" id="@item.ID" value=""></td>
                                        <td id="amout_@item.ID">@item.amount</td>
                                        <td id="price_@item.ID">@item.price.ToString("N0")</td>
                                        <td>@item.description</td>
                                    </tr>
                                    indexPackage++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="totalArea_registerMore">
                    <div class="row_totalArea">
                        <div>Tổng tiền:</div>
                        <div id="totalMoney_registerMore">0 VND</div>
                    </div>
                    <div class="row_totalArea">
                        <div>Tài nguyên đăng ký:</div>
                        <div id="totalRes_registerMore">0</div>
                    </div>
                </div>


            </div>

            <div class="twoButtonRegister">
                <button type="button" id="confirmRegister" class="btn btn-success">Đăng ký</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="display:flex">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Trang chủ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Mã HS - Biểu thuế", "Index", "Home")</li>
                    <li>@Html.ActionLink("Cảng cửa khẩu", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Địa điểm lưu kho chờ thông quan", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Mã loại hình", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Hướng dẫn", "Contact", "Home")</li>
                </ul>
            </div>

            <div class="userIcon" data-toggle="modal" data-target="#profileModal"><i class='fas fa-user-alt'></i></div>

        </div>
    </div>

    <div class="container body-content myBody" style="margin-top:100px">
        @RenderBody()
    </div>
    <div class="footer">
        <p>&copy; @DateTime.Now.Year - Tra cứu Biểu mẫu thuế</p>
    </div>
    <script>
        $(document).ready(function () {
            $('#confirmChangePass').click(function () {
                var newPassword = $('#newPassword').val();
                var confirmNewPassword = $('#confirmNewPassword').val();

                if (!newPassword || !confirmNewPassword) {
                    alert('Vui lòng nhập đầy đủ các trường bắt buộc!');
                } else {
                    if (newPassword != confirmNewPassword) {
                        alert('Mật khẩu xác nhận không khớp!');
                    } else {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("ChangePassword", "Account")',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({
                                userId: $('#userId').val(),
                                newPassword: newPassword,
                                confirmNewPassword: confirmNewPassword
                            }),
                            dataType: "json",
                            success: function (result) {
                                jsonResult = JSON.parse(JSON.stringify(result));
                                alert(jsonResult.message);
                                $('#changePassModal').modal('hide');

                            },
                            error: function () {
                                alert('Lỗi hệ thống!');;
                            }
                        });
                    }

                }


            });

            $('#confirmRegister').click(function () {
                if (!isRegister) {
                    alert('Vui lòng chọn ít nhất môt gói tài nguyên.');
                } else {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("RegisterMore", "Home")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({
                            userId: $('#userId').val(),
                            listPackageId: listPackageId,
                        }),
                        dataType: "json",
                        success: function (result) {
                            jsonResult = JSON.parse(JSON.stringify(result));
                            alert(jsonResult.message);
                            $('#registerMoreModal').modal('hide');
                        },
                        error: function () {
                            alert('Lỗi hệ thống!');;
                        }
                    });
                }
            });

            $('.checkbox_package').change(function () {
                countAllCheckbox();
            });
        });


        function addCommas(nStr) {
            nStr += '';
            var x = nStr.split('.');
            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }

        var listPackageId = [];
        var totalMoney = 0;
        var totalRes = 0;
        var isRegister = false;
        function countAllCheckbox() {
            listPackageId = [];
            totalMoney = 0;
            totalRes = 0;
            isRegister = false;

            $('.checkbox_package:checked').each(function () {
                isRegister = true;
                var idcheckbox = $(this).attr('id');
                listPackageId.push(idcheckbox);
                var money = $("#price_" + idcheckbox).text().replace(",", "");
                totalMoney += parseInt(money, 10);
                var res = $("#amout_" + idcheckbox).text().replace(",", "");
                totalRes += parseInt(res, 10);
            });

            $("#totalMoney_registerMore").text(addCommas(totalMoney) + " VND");
            $("#totalRes_registerMore").text(addCommas(totalRes));

        }
    </script>
</body>

</html>
